body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #e2eeec;
    margin: 0;
    padding: 0;
}

.container {
    width: 60%;
    margin: 40px auto;
    background: #ffffff;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    text-align: left;
}

th, td {
    padding: 12px 15px;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #f7f7f7;
}

tr:hover {
    background-color: #f1f1f1;
}

.back-link {
    display: inline-block;
    margin-top: 20px;
    text-decoration: none;
    color: #8aaaa5;
    font-weight: bold;
}
.back-link:hover {
    text-decoration: underline;
}

.star-rating {
    direction: rtl;
    display: inline-block;
    font-size: 2rem;
    unicode-bidi: bidi-override;
}

.star-rating input[type="radio"] {
    display: none;
}

.star-rating label {
    color: #ccc;
    cursor: pointer;
    display: inline-block;
    transition: color 0.2s;
}

.star-rating input[type="radio"]:checked ~ label {
    color: gold;
}

.star-rating label:hover,
.star-rating label:hover ~ label {
    color: gold;
}

.submit-button {
    background-color: #8aaaa5; /* зелёный */
    color: white;
    padding: 8px 16px;
    font-size: 1rem;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 10px;
}

.submit-button:hover {
    background-color: #e2eeec;
}
